<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img id="bg" src="./images/bg.jpg" inline/>
		<!-- <img src="./frames/f2.jpg" class="retina" /> -->
		<img id="t1" src="./images/t1.png" class="retina" inline/>		
		<img id="t2" src="./images/t2.png" class="retina" inline/>
		
		
		<!-- <img src="./frames/f3.jpg" class="retina" /> -->
		<img id="logo" src="./images/logo.png" class="retina" inline/>
		<img id="t3" src="./images/t3.png" class="retina" inline/>
		<div id="line"></div>

		<!-- <img src="./frames/f4.jpg" class="retina" /> -->
		<img id="t4" src="./images/t4.png" class="retina" inline/>
		<img id="medium" src="./images/medium.png" class="retina" inline/>
		<div id="cta"><img id="cta-text" src="../_common/images/cta.svg" class="retina" inline/></div>
	</div>
	<div class="frame frame2">
		
	</div>
</div>