

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	#bg{
		@include pos-scale(0, 0, .5);
	}

	#t1{
		@include pos-scale(130, 18, .5);
		// @include pos-scale(33, 68, .5);
	}

	#t2{
		@include pos-scale(236, 53, .5);		
	}

	#line{
		width: 463px;
		height: 2px;
		background-color: #cd2724;
		@include pos(133, 44);		
	}

	
}

.frame2{
	
	#t3{
		@include pos-scale(244, 25, .5);		
	}
	

	#logo{
		@include pos-scale(145, 9, .5);		
	}

	
}

.frame3{


	#t4{
		@include pos-scale(383, 28, .5);		
	}
	
	#medium{
		@include pos(12, 3);		
	}
	#logo{
		@include pos-scale(288, 12, .5);		
	}

	#cta{
		width: 292px;
		height: 27px;
		background-color: #cd2724;
		@include pos(395, 51);
		img{
			@include pos(102, 4);
			height: 19px;
		}
	}
}





#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}

