/*--------------------------------------------*/
/* reset */
/*--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

canvas {
  display: block;
  top: 0;
  left: 0;
}

#banner {
  /* bigbox */
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  opacity: 1;
  cursor: pointer;
}

canvas, .text, .frame, .outline, img {
  position: absolute;
}

img {
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.outline {
  z-index: 99;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  pointer-events: none;
  position: absolute;
}

.frame {
  width: inherit;
  height: inherit;
  opacity: 0;
  top: 0;
  left: 0;
}

p {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sup {
  font-size: 50%;
  vertical-align: top;
  position: relative;
  left: -3px;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 9px black);
  filter: drop-shadow(5px 5px 9px black);
}

.retina {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  image-rendering: -webkit-optimize-contrast;
}

.frame1 {
  opacity: 1;
}

.frame1 #bg {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t1 {
  -webkit-transform: translate(33px, 180px) scale(0.5, 0.5);
  -ms-transform: translate(33px, 180px) scale(0.5, 0.5);
  transform: translate(33px, 180px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #line {
  width: 240px;
  height: 4px;
  background-color: #cd2724;
  -webkit-transform: translate(34px, 310px);
  -ms-transform: translate(34px, 310px);
  transform: translate(34px, 310px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t2 {
  -webkit-transform: translate(33px, 333px) scale(0.5, 0.5);
  -ms-transform: translate(33px, 333px) scale(0.5, 0.5);
  transform: translate(33px, 333px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t3 {
  -webkit-transform: translate(33px, 333px) scale(0.5, 0.5);
  -ms-transform: translate(33px, 333px) scale(0.5, 0.5);
  transform: translate(33px, 333px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #logo {
  -webkit-transform: translate(33px, 37px) scale(0.5, 0.5);
  -ms-transform: translate(33px, 37px) scale(0.5, 0.5);
  transform: translate(33px, 37px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #t4 {
  -webkit-transform: translate(33px, 216px) scale(0.5, 0.5);
  -ms-transform: translate(33px, 216px) scale(0.5, 0.5);
  transform: translate(33px, 216px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #medium {
  -webkit-transform: translate(24px, 474px);
  -ms-transform: translate(24px, 474px);
  transform: translate(24px, 474px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #cta {
  width: 241px;
  height: 45px;
  background-color: #cd2724;
  -webkit-transform: translate(29px, 407px);
  -ms-transform: translate(29px, 407px);
  transform: translate(29px, 407px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame1 #cta img {
  -webkit-transform: translate(55px, 10px);
  -ms-transform: translate(55px, 10px);
  transform: translate(55px, 10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  height: 26px;
}

#banner {
  font-size: 20px;
  color: #333;
  width: 300px;
  height: 600px;
}

/*# sourceMappingURL=main.css.map */
